<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .textboxid {
            height: 200px;
            font-size: 14pt;
        }
    </style>
</head>

<body>
    <form action="/" method="post">

        First sentence: <input type="text" name="sen1" value="{{value['sen1']}}" class='textboxid'><br>
        Last sentence: <input type="text" name="sen2" value="{{value['sen2']}}" class='textboxid'><br>
        <input type="submit" value="Submit">
        <p>{{res}}</p>
    </form>
</body>

</html>